
body{
    background-color: #F0F2F5;
}

/* Container backgrounds */
.white-bg{
    background-color: white;
}

.normalStars{
    font-size:40px; 
    color: #fdcc0d;
}


.scrollReviews{
    height:400px;
    overflow-y: scroll;
}

.highLightedNoun{
    /* Olive */
    background-color: #3D9970;
    padding: 0.1em 0.1em;
}

.highLightedAdj{
    /* Teal */
    background-color: #39CCCC;
    padding: 0.1em 0.1em;
}


.popover{
box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
width: 400px;
}

.popover-header {
font-family: 'Open Sans', sans-serif;
font-weight: 600;
font-size:17px;
}

.popover-body{
font-family: 'Open Sans', sans-serif;
font-weight: 300;
font-size:17px;
}



#navBarBrand{
font-family: 'Open Sans', sans-serif;
font-weight: 300;
font-size: 1.1em;
color:white;
}


#main-overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.651);
}

.spinner{
    position: absolute;
    top: 50%;
    left: 47%;
}

.pointer{
cursor: pointer;
}

.headings{
    font-family: 'Merienda', cursive;
    color: rgb(100, 100, 100);
    font-size:20px;
}

.reviewHeaderFont{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.reviewBodyFont{
font-family: 'Open Sans', sans-serif;
font-weight: 300;
}

@media screen and (max-width : 1920px){
    .mobile-navbar{
        display:none;
    }
}
    
@media screen and (max-width : 767px){
    .desktop-navbar{
        display:none;
    }
    .mobile-navbar{
        display:inline;
    }
}
